@charset "utf-8";
/* CSS Document */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
/* close commented backslash hack */

body {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

#contenedor-operador, #contenedor-consulta {
  width: 960px;
  background-color: #ebebeb;
  margin: 0 auto;
}

#logo {
  margin: 20px;
  float: left;
}

#loginRegistro{
  float:right;
  clear:right;
  padding:0 24px 10px 0;
}

a:link, a:visited{
  color:#0E56AB;
}

#navPrincipal {
  float: right;
  margin-top: 35px;
  margin-right:20px;
}

#navPrincipal li {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #6B6B6B;
  background-color: #28d;
  margin: 5px;

  float: left;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

#navPrincipal a:link {
  color: #fff;
  text-decoration: none;
}

#navPrincipal a:visited {
  color: #fff;
}

#cabezal {
  background-color: #FEFEFE;
}

#contenido {
  background-color: #DFDFDF;
  width: 590px;
  padding:20px;
  float: left;
}

#lateral {
  background-color: #BDBDBD;
  width: 290px;
  float: left;
  padding:20px;
}

#pie {
  background-color: #ebebeb;
  clear: both;
  padding:20px;
}

#texto-user-consulta {

  background-color: #28d;
  color: #fff;
  border: 1px solid #6B6B6B;
  float:left;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
  margin-top: 30px;
  margin-left:120px;
  padding: 10px;

}




/*----------------- Login sacado de internet ------------------*/

#login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
#login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
#login p {
  padding: 12px;
}

#login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

#login input[type="text"], input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
#login input[type="text"], input[type="password"]:focus,{
  border-color: #888;
}

#login input[type="button"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

#login input[type="button"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
#login input[type="button"]:focus{ 
  border-color: #05a;
}



/* Estilos propios creados por mi */


#texto-error-usuario, #texto-error-contraseña, #texto-error-login{

  padding-left: 12px;
  color: #FC3737;

}

.colorError{

  color: #FC3737;
}